In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

In [2]:
df = pd.read_csv('macro_global.csv', encoding='latin1')

In [9]:
print(df.shape)
df.head()

(138, 12)

,Username,Followers,Average_Likes,Average_Comments,Average_Engagement_Rate,Engagement_Rate_(60_Days),Posting_frequency_(last_60_days),Posts_(image),Posts_(videos),Posts_(carousel),Average_Hashtags_/_Post_(60_Days),Hashtags_(dictionary)
0,andriyasana,218468,6260.41,65.48,2.8997,1.5104,74,0,74,0,1.392,"{'yollayuliana15': 51, 'yollayuliana': 51, 'ec..."
1,1a.aurabd_,165436,313.86,4.71,0.1926,0.1312,1,0,1,0,0,{}
3,sherlyjessii,179537,1005.04,11.01,0.5659,0.2862,6,5,1,1,0,{}
4,fitriarasyidi,948482,21008.08,803.88,2.2997,3.2122,40,3,28,9,1.3,"{'rumahtanggakumit': 14, 'kumitproject': 14, '..."
5,dewwiew,123017,6343.21,43.83,5.1920,2.1932,5,0,2,3,1,"{'instagram': 2, 'karnavalgarungwarangankepil'..."

In [6]:
df.dtypes

Username                              object
Followers                              int64
Average_Likes                        float64
Average_Comments                     float64
Average_Engagement_Rate              float64
Engagement_Rate_(60_Days)            float64
Posting_frequency_(last_60_days)       int64
Posts_(image)                          int64
Posts_(videos)                         int64
Posts_(carousel)                       int64
Average_Hashtags_/_Post_(60_Days)     object
Hashtags_(dictionary)                 object
dtype: object

In [5]:
df.rename(columns=lambda x: x.strip().replace(' ', '_'), inplace=True)

In [7]:
print(df.isnull().sum())

Username                             0
Followers                            0
Average_Likes                        4
Average_Comments                     4
Average_Engagement_Rate              4
Engagement_Rate_(60_Days)            0
Posting_frequency_(last_60_days)     0
Posts_(image)                        0
Posts_(videos)                       0
Posts_(carousel)                     0
Average_Hashtags_/_Post_(60_Days)    0
Hashtags_(dictionary)                0
dtype: int64

In [8]:
# Remove rows with missing values in the specified columns
df = df.dropna(subset=['Average_Likes', 'Average_Comments', 'Average_Engagement_Rate'])

In [10]:
df['Average_Hashtags_/_Post_(60_Days)'] = df['Average_Hashtags_/_Post_(60_Days)'].replace('-', 0)

In [11]:
df['Average_Hashtags_/_Post_(60_Days)'] = df['Average_Hashtags_/_Post_(60_Days)'].replace('-', 0).astype(float)

In [12]:
# Select numeric columns for outlier detection
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
print("Numeric Columns:", numeric_columns)

# Non-numeric columns
non_numeric_columns = df.select_dtypes(exclude=['float64', 'int64']).columns
print("Non-Numeric Columns:", non_numeric_columns)

Numeric Columns: Index(['Followers', 'Average_Likes', 'Average_Comments',
       'Average_Engagement_Rate', 'Engagement_Rate_(60_Days)',
       'Posting_frequency_(last_60_days)', 'Posts_(image)', 'Posts_(videos)',
       'Posts_(carousel)', 'Average_Hashtags_/_Post_(60_Days)'],
      dtype='object')
Non-Numeric Columns: Index(['Username', 'Hashtags_(dictionary)'], dtype='object')

In [13]:
# Loop through numeric columns and calculate outliers using IQR
for col in numeric_columns:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    # Detect outliers
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"Outliers in '{col}':")
    print(outliers[['Username', col]])  # Print relevant columns for context
    print("-------")

Outliers in 'Followers':
      Username  Followers
126  atiikazzz    1188747
-------
Outliers in 'Average_Likes':
               Username  Average_Likes
20             ardya.th      127287.37
22       monilinafamily       89801.29
24             kenniro_       82076.86
43            wuzu.clay      348532.61
58         oyatillo6828      175808.12
67      dextheorangecat       77305.54
73           omar_nutro      349444.07
108       jemaofficiall      245758.03
122   nada_tarina_putri       81292.25
123  waktunyauntukmakan       60065.52
-------
Outliers in 'Average_Comments':
           Username  Average_Comments
4     fitriarasyidi            803.88
20         ardya.th            726.23
22   monilinafamily            957.88
26     robbymaulids            673.51
73       omar_nutro           2077.04
80        iansuteja            643.65
108   jemaofficiall            579.72
126       atiikazzz            573.15
-------
Outliers in 'Average_Engagement_Rate':
            Username  Average_Engagement_Rate
17      jonesdospy18                  17.3731
20          ardya.th                  18.1352
24          kenniro_                  19.5016
30         louistim_                  22.4001
34     hughchongqing                  33.3002
43         wuzu.clay                  33.7718
46           lessvlr                  17.3551
47        loud_tuyz1                  17.6152
58      oyatillo6828                  27.0062
67   dextheorangecat                  42.0105
73        omar_nutro                  34.0904
75    spotifynoucamp                  35.2689
99     kenjiganessha                  15.7978
108    jemaofficiall                  46.1665
116    fadhilmachmud                  23.7641
120          amazmii                  21.3681
131        kalalaa__                  30.5764
140         jingggxd                  18.4629
-------
Outliers in 'Engagement_Rate_(60_Days)':
              Username  Engagement_Rate_(60_Days)
17        jonesdospy18                    26.7022
30           louistim_                    42.9388
34       hughchongqing                    45.8077
43           wuzu.clay                    25.2409
46             lessvlr                    37.9581
72           faizsadad                    24.6438
75      spotifynoucamp                    34.7092
99       kenjiganessha                    35.5572
105  larasati_nugrohoo                   130.5895
108      jemaofficiall                    82.8465
109  adeliazahraalvina                    36.5079
110            isalkaf                    47.4114
120            amazmii                    35.2228
-------
Outliers in 'Posting_frequency_(last_60_days)':
               Username  Posting_frequency_(last_60_days)
7     christinaimmanuel                               135
31            njdmarlon                               368
64             kaa_arie                               124
74            njr.dsant                               307
75       spotifynoucamp                               155
84           lira_vaira                               303
87         sahabatweton                               495
93          wanitadaily                               264
95        mamariareview                               125
107  yudipermadiguntara                               193
123  waktunyauntukmakan                               248
-------
Outliers in 'Posts_(image)':
              Username  Posts_(image)
23   marshanda_style99             24
31           njdmarlon            235
32   poorpumpersociety             26
33     zzz.official.en             47
61      2pac_thelegend             19
62   oldschoolllhiphop              9
65            taco1704             31
68     hansenvendiagus             14
74           njr.dsant            155
75      spotifynoucamp             63
84          lira_vaira            104
86        erikaputreal              7
87        sahabatweton             24
91   arya.m.sinulingga             13
94       mario_sonatha             20
102     jonathanwongso              7
110            isalkaf             10
-------
Outliers in 'Posts_(videos)':
               Username  Posts_(videos)
7     christinaimmanuel             134
10         lovikabangun             109
64             kaa_arie             124
83        _tamasyajogja             107
84           lira_vaira             198
87         sahabatweton             471
93          wanitadaily             123
95        mamariareview             121
107  yudipermadiguntara             193
123  waktunyauntukmakan             247
124         kawan_dapur             114
-------
Outliers in 'Posts_(carousel)':
                 Username  Posts_(carousel)
23      marshanda_style99                16
31              njdmarlon                98
33        zzz.official.en                23
57   christiancruzfitness                59
74              njr.dsant                48
93            wanitadaily               137
98            anggimarito                18
102        jonathanwongso                17
119            nonswilly_                20
-------
Outliers in 'Average_Hashtags_/_Post_(60_Days)':
             Username  Average_Hashtags_/_Post_(60_Days)
39        jknowles831                             10.517
55       excaliblader                             29.400
62  oldschoolllhiphop                             12.111
65           taco1704                             15.484
75     spotifynoucamp                             20.000
92           marmyutt                             11.020
95      mamariareview                              9.704
-------

In [19]:
df.info

<bound method DataFrame.info of      Followers  Average_Likes  Average_Comments  Average_Engagement_Rate  \
0       218468        6260.41             65.48                   2.8997
1       165436         313.86              4.71                   0.1926
3       179537        1005.04             11.01                   0.5659
4       948482       21008.08            803.88                   2.2997
5       123017        6343.21             43.83                   5.1920
..         ...            ...               ...                      ...
137     681344       21513.17            392.23                   3.2150
138     220351        4204.33             43.67                   1.9278
139     452619       11435.49             93.53                   2.5472
140     170325       31037.03            409.90                  18.4629
141     106343        7593.50            121.86                   7.2552

     Engagement_Rate_(60_Days)  Posting_frequency_(last_60_days)  \
0                       1.5104                                74
1                       0.1312                                 1
3                       0.2862                                 6
4                       3.2122                                40
5                       2.1932                                 5
..                         ...                               ...
137                    14.7793                                56
138                     0.2979                                 1
139                     1.5154                                30
140                     0.0000                                 0
141                     5.9930                                 6

     Posts_(image)  Posts_(videos)  Posts_(carousel)  \
0                0              74                 0
1                0               1                 0
3                5               1                 1
4                3              28                 9
5                0               2                 3
..             ...             ...               ...
137              2              45                 9
138              0               1                 0
139              4              25                 1
140              0               0                 0
141              1               1                 4

     Average_Hashtags_/_Post_(60_Days)
0                                1.392
1                                0.000
3                                0.000
4                                1.300
5                                1.000
..                                 ...
137                              1.125
138                              9.000
139                              3.733
140                              0.000
141                              0.167

[138 rows x 10 columns]>

In [15]:
df = df.drop(columns=['Username'])

In [18]:
df = df.drop(columns=['Hashtags_(dictionary)'])

In [1]:
df.isnull().sum()

NameError: name 'df' is not defined

In [20]:
df.to_csv('macro_global_cleaned.csv', index=False)