In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import ast
plt.style.use('ggplot')
pd.set_option('display.max_columns', 200)

In [2]:
df = pd.read_csv('nano_global.csv', encoding='latin1')

In [10]:
print(df.shape)
df.head()

(77, 12)

,Username,Followers,Average_Likes,Average_Comments,Average_Engagement_Rate,Engagement_Rate_(60_Days),Posting_frequency_(last_60_days),Posts_(image),Posts_(videos),Posts_(carousel),Average_Hashtags_/_Post_(60_Days),Hashtags_(dictionary)
0,denner_theodoro,7686.0,8.01,0.41,0.1095,0.0465,7.0,3.0,0.0,4.0,0,{}
1,ashleywillfire,2326.0,39.62,5.89,1.9569,5.2365,5.0,1.0,2.0,2.0,2,"{'newsingle': 1, 'femalefolk': 1, 'altcountry'..."
2,rousie20,2104.0,177.37,19.79,9.3708,0.0000,0.0,0.0,0.0,0.0,-,-
3,lialace_,2015.0,137.22,7.80,7.1970,0.0000,0.0,0.0,0.0,0.0,-,-
4,lior_music_photog,1932.0,68.03,7.52,3.9103,0.6211,1.0,0.0,1.0,0.0,0,{}

In [6]:
df.dtypes

Username                              object
Followers                            float64
Average_Likes                        float64
Average_Comments                     float64
Average_Engagement_Rate              float64
Engagement_Rate_(60_Days)            float64
Posting_frequency_(last_60_days)     float64
Posts_(image)                        float64
Posts_(videos)                       float64
Posts_(carousel)                     float64
Average_Hashtags_/_Post_(60_Days)     object
Hashtags_(dictionary)                 object
dtype: object

In [5]:
df.rename(columns=lambda x: x.strip().replace(' ', '_'), inplace=True)

In [9]:
print(df.isnull().sum())

Username                             0
Followers                            0
Average_Likes                        0
Average_Comments                     0
Average_Engagement_Rate              0
Engagement_Rate_(60_Days)            0
Posting_frequency_(last_60_days)     0
Posts_(image)                        0
Posts_(videos)                       0
Posts_(carousel)                     0
Average_Hashtags_/_Post_(60_Days)    0
Hashtags_(dictionary)                0
dtype: int64

In [8]:
# Remove rows with missing values in the specified columns
df = df.dropna(subset=['Username'])

In [12]:
df['Average_Hashtags_/_Post_(60_Days)'] = df['Average_Hashtags_/_Post_(60_Days)'].replace('-', 0).astype(float)

In [13]:
df.dtypes

Username                              object
Followers                            float64
Average_Likes                        float64
Average_Comments                     float64
Average_Engagement_Rate              float64
Engagement_Rate_(60_Days)            float64
Posting_frequency_(last_60_days)     float64
Posts_(image)                        float64
Posts_(videos)                       float64
Posts_(carousel)                     float64
Average_Hashtags_/_Post_(60_Days)    float64
Hashtags_(dictionary)                 object
dtype: object

In [14]:
# Select numeric columns for outlier detection
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns
print("Numeric Columns:", numeric_columns)

# Non-numeric columns
non_numeric_columns = df.select_dtypes(exclude=['float64', 'int64']).columns
print("Non-Numeric Columns:", non_numeric_columns)

Numeric Columns: Index(['Followers', 'Average_Likes', 'Average_Comments',
       'Average_Engagement_Rate', 'Engagement_Rate_(60_Days)',
       'Posting_frequency_(last_60_days)', 'Posts_(image)', 'Posts_(videos)',
       'Posts_(carousel)', 'Average_Hashtags_/_Post_(60_Days)'],
      dtype='object')
Non-Numeric Columns: Index(['Username', 'Hashtags_(dictionary)'], dtype='object')

In [15]:
# Loop through numeric columns and calculate outliers using IQR
for col in numeric_columns:
    q1 = df[col].quantile(0.25)
    q3 = df[col].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - 1.5 * iqr
    upper_bound = q3 + 1.5 * iqr

    # Detect outliers
    outliers = df[(df[col] < lower_bound) | (df[col] > upper_bound)]
    print(f"Outliers in '{col}':")
    print(outliers[['Username', col]])  # Print relevant columns for context
    print("-------")

Outliers in 'Followers':
          Username  Followers
96  dfo_southwharf    13552.0
-------
Outliers in 'Average_Likes':
      Username  Average_Likes
34     sin_row         773.46
47  k.ranaeeee         788.06
94  hans_petra         810.25
-------
Outliers in 'Average_Comments':
            Username  Average_Comments
47        k.ranaeeee             45.09
56  cancerianagrande             36.30
81     kirillzaytsev             31.90
86        tshine____             38.79
-------
Outliers in 'Average_Engagement_Rate':
            Username  Average_Engagement_Rate
10       kossi_valor                  10.2299
22        emmadusang                  14.3152
34           sin_row                  18.4777
47        k.ranaeeee                  18.5473
56  cancerianagrande                  13.2664
-------
Outliers in 'Engagement_Rate_(60_Days)':
            Username  Engagement_Rate_(60_Days)
10       kossi_valor                    11.8827
19         marcgross                     7.7233
26         mayramaia                     8.0210
34           sin_row                    10.6433
37     southsidelens                    12.9025
50         jackmoruz                    10.8448
55         j_nicolet                     8.9794
56  cancerianagrande                    10.8434
-------
Outliers in 'Posting_frequency_(last_60_days)':
                  Username  Posting_frequency_(last_60_days)
35                 hanahmh                              24.0
60  setkaingreenwonderland                              43.0
62       cellphoneguys_com                              29.0
63             optika_luna                              43.0
64            snacksgeorge                              39.0
73  anamericaninluxembourg                              22.0
78          missruby.co.uk                              50.0
90             maelroussel                              56.0
96          dfo_southwharf                              23.0
-------
Outliers in 'Posts_(image)':
                  Username  Posts_(image)
20             demtattooer            6.0
60  setkaingreenwonderland           19.0
62       cellphoneguys_com           15.0
63             optika_luna            8.0
64            snacksgeorge           10.0
68           aimee_azoulay            6.0
75              pcxoficial            8.0
90             maelroussel           26.0
-------
Outliers in 'Posts_(videos)':
                  Username  Posts_(videos)
29          icarriere.yoga             6.0
35                 hanahmh            15.0
60  setkaingreenwonderland            10.0
62       cellphoneguys_com            14.0
63             optika_luna            14.0
73  anamericaninluxembourg            14.0
75              pcxoficial             7.0
78          missruby.co.uk            43.0
92        florgayone_ibiza             8.0
96          dfo_southwharf             7.0
-------
Outliers in 'Posts_(carousel)':
                  Username  Posts_(carousel)
10             kossi_valor              12.0
41             jasmineyeap              12.0
60  setkaingreenwonderland              13.0
63             optika_luna              21.0
64            snacksgeorge              29.0
90             maelroussel              25.0
-------
Outliers in 'Average_Hashtags_/_Post_(60_Days)':
                  Username  Average_Hashtags_/_Post_(60_Days)
10             kossi_valor                               8.46
18        shridevi_designs                              14.00
33        glauco_comoretto                               7.13
35                 hanahmh                               7.83
44              rikesworld                               8.00
55               j_nicolet                               9.00
60  setkaingreenwonderland                               9.44
62       cellphoneguys_com                              13.79
63             optika_luna                              11.58
75              pcxoficial                              14.00
91   discoveringparenthood                              14.00
-------

In [16]:
df = df.drop(columns=['Username'])

In [17]:
df = df.drop(columns=['Hashtags_(dictionary)'])

In [19]:
df.head()

,Followers,Average_Likes,Average_Comments,Average_Engagement_Rate,Engagement_Rate_(60_Days),Posting_frequency_(last_60_days),Posts_(image),Posts_(videos),Posts_(carousel),Average_Hashtags_/_Post_(60_Days)
0,7686.0,8.01,0.41,0.1095,0.0465,7.0,3.0,0.0,4.0,0.0
1,2326.0,39.62,5.89,1.9569,5.2365,5.0,1.0,2.0,2.0,2.0
2,2104.0,177.37,19.79,9.3708,0.0000,0.0,0.0,0.0,0.0,0.0
3,2015.0,137.22,7.80,7.1970,0.0000,0.0,0.0,0.0,0.0,0.0
4,1932.0,68.03,7.52,3.9103,0.6211,1.0,0.0,1.0,0.0,0.0

In [20]:
df.to_csv('nano_global_cleaned.csv', index=False)